body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background: #f2f2ed;
}

.container {
    display: flex;
    justify-content: center;
}

.flex-buffer {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 130px);

    border: 1px solid #bdbdbd;
    background: #f9f9f6;
}

.grid-fill-text {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 8 / 10;
    font-size: 40px;
}

.card {
    display: flex;
    flex-direction: column;

    border: solid #bdbdbd;
    border-width: 0 1px 1px 0;
    height: 150px;
}

.picture {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
}

.index {
    background: -webkit-radial-gradient(center, ellipse cover, hsla(208, 27%, 51%, 1) 0%, hsla(208, 32%, 36%, 1) 100%);
    border-radius: 2px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-text-fill-color: white;
}

.name {
    padding: 1px;
}
