p {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background: #f2f2ed;
}

.container {
    display: flex;
    justify-content: center;
}

.flex-buffer {
    flex: 1;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid #bdbdbd;
}

.grid-fill-text {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 8 / 10;
    font-size: 40px;
}

.card {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    background: #f9f9f6;

    display: flex;
    flex-direction: column;
}

.chart {
    padding: 5px;
}

.picture {
    padding: 5px;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 5px;
    display: flex;
}

.index {
    background: -webkit-radial-gradient(center, ellipse cover, hsla(208, 27%, 51%, 1) 0%, hsla(208, 32%, 36%, 1) 100%);
    border-radius: 2px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-text-fill-color: white;
}

.name {
    padding: 1px;
}

.axis {
    stroke-width: .5;
    stroke: #777;
}

.scale {
    stroke-width: .5;
    stroke: #aaa;
}

.shape {
    stroke-width: 1;
    stroke: #111;
    fill-opacity: .3;
}
